h3 {
    background: rgba(255, 255, 255, 0.5) ;
    /* text-align: center; */
    margin-top: 250px;
    /* margin: auto; */
    border: 2px solid black;
    padding: 30px 0px 30px 8px;
    width: 35%;
    margin-left: 490px;
    border-radius: 10px;

    /* height: 200px; */
}
P {
    background: rgba(255, 255, 255,0.5) ;
    border: 1px solid black;
    width: 12%;
    margin-left: 573px;
    padding: 0px 0px 0PX 5px;
    margin-left: 670px;
    border-radius: 10px;
}
body{
min-height: 400px;
background: url(robo2.jpg) no-repeat;
background-size:cover;
background-position: center;
}
h3{
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: rgba(231, 192, 192, 0.6);
    font-size: 30px;
}
p{
    display: flex;
    justify-content: center;
    align-items:center;
}
p a{
    text-decoration: none;
    color:color(rgb(0, 0, 123));
    font-size: 20px;
   
}
p a:hover{
    text-decoration: underline;
    
}